<html>
    <head>
        <style>
            body{
                background: linear-gradient(grey, #123456);
            }
            h1{
                font-size: 30px;
                font-style: italic;
                font-family: 'Times New Roman', Times, serif;
            }
            form{
                margin-top: 15%;
            }
            input{
                width: 35%;
                border-radius: 5px;
            }
        </style>
        <title>MOVIE DATABASE</title>
    </head>
    <body>
        <center>
        <h1>MY FIRST PROJECT USING API</h1>
        <form method="POST" action="/getmovie/">
            <input type="text" name="movie" placeholder="ENTER ANY MOVIE">
            <input type="submit" value="SUBMIT">
        </form>
        </center>
    </body>
</html>